SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="2510085", SYMLINK+="left_ft_sensor", MODE="0666"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="2510087", SYMLINK+="right_ft_sensor", MODE="0666"
