<launch>
  <arg name="node_start_delay" default="2.0" />
  <include file="$(find nextage_tutorials)/launch/camera_l515.launch" >
  </include>
  <include file="$(find nextage_tutorials)/launch/camera_lhand.launch" >
  </include>
  <!--<include file="$(find nextage_tutorials)/launch/camera_elp.launch" >
  </include>-->
  
  <include file="$(find nextage_tutorials)/launch/dual_touch.launch" >
  </include>
  
  <include file="$(find nextage_tutorials)/launch/jsk_robot_state_publisher.launch" >
  </include>
</launch>
