<launch>
  <arg name="node_start_delay" default="2.0" />
  
  <include file="$(find nextage_tutorials)/launch/jsk_robot_state_publisher.launch" >
  </include>

  <include file="$(find dynamixel_detachable_hand)/launch/dual_hand.launch" >
  </include>

  <include file="$(find nextage_tutorials)/launch/l515_head.launch" >
  </include>

  <include file="$(find nextage_tutorials)/launch/d405_lhand.launch" >
  </include>

  <include file="$(find nextage_tutorials)/launch/right_ft_sensor.launch" >
  </include>

  <!--<include file="$(find nextage_tutorials)/launch/ft_sensor_calib.launch" >
  </include> -->
  
  <!--<include file="$(find nextage_tutorials)/launch/elp_camera.launch" >
  </include> -->
  
  <include file="$(find nextage_tutorials)/launch/dual_touch.launch" >
  </include>

</launch>
