<launch>
  <include file="$(find dynamixel_detachable_hand)/launch/dual_hand.launch">
  </include>

  <group ns="right_ft">
    <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="right_ft" output="screen">
      <param name="com_port" value="/dev/right_ft_sensor" />
    </node>
  </group>
  
  <group ns="left_ft">
    <node pkg="leptrino_force_torque" type="leptrino_force_torque" name="left_ft" output="screen">
      <param name="com_port" value="/dev/left_ft_sensor" />  	  	
    </node>
  </group>

  <node pkg="nextage_tutorials"
        type="ft_gravity_compensate.py"
        name="ft_compensate_left"
        output="screen">
    <param name="input_topic"  value="/left_ft/left_ft/force_torque" />
    <param name="output_topic" value="/left/ft_compensated" />
    <param name="sensor_frame" value="LARM_JOINT5_Link" />
    <param name="base_frame"   value="WAIST" />
    <rosparam file="$(find nextage_tutorials)/config/ft_left.yaml" />
  </node>

  <node pkg="nextage_tutorials"
        type="ft_gravity_compensate.py"
        name="ft_compensate_right"
        output="screen">
    <param name="input_topic"  value="/right_ft/right_ft/force_torque" />
    <param name="output_topic" value="/right/ft_compensated" />
    <param name="sensor_frame" value="RARM_JOINT5_Link" />
    <param name="base_frame"   value="WAIST" />
    <rosparam file="$(find nextage_tutorials)/config/ft_right.yaml" />
  </node>
  
  <include file="$(find voicevox)/launch/voicevox_texttospeech.launch">
  </include>

  <node pkg="dynamixel_detachable_hand" type="monitor_connection.py" 
        name="dynamixel_error_monitor" output="screen" />
</launch>
