<launch>
  <arg name="node_start_delay" default="2.0" />
  <param name="robot_description" textfile="$(find nextage_tutorials)/urdf/JSKNextageOpen.urdf" />

  <node name="nextage_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>

  <include file="$(find nextage_tutorials)/launch/elp_head.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
  </include>
  
  <include file="$(find nextage_tutorials)/launch/right_ft_sensor.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
  </include>

  <include file="$(find nextage_tutorials)/launch/ft_sensor_calib.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
  </include>
  
  <include file="$(find nextage_tutorials)/launch/l515_head.launch" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
  </include>
</launch>
